body{
    background-color:rgb(34,34,34);
    padding-top: 170px;
    padding-bottom: 0;
    
}
.container{
    width: 500px;
    padding: 80px 30px;
    background-color:black;
    border-radius: 10px;
    margin: auto;
}
#login{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    margin: auto;
}
.box{
    width: 300px;
    height: 40px;
    border-radius: 7px;
    font-size: 20px;
    padding-left: 5px;
    border-style: none;
    
    
   
}